<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jam.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <icon src="res/icon.png" />
    <name>Jam</name>
    <description>
        Encoding/Decoding App!
    </description>
	<preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
</widget>
